<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	<meta name="description" content="A secure and cross-platform notes app">
	<meta name="author" content="Vaisakh Viswanath">
	<meta name="theme-color" content="transparent">
	<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="transparent">
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icons/icon-152x152.png') }}">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">

</head>
<body>
	{% if notes.all()|length>0%}
		{% for one_note in notes %}
			<div class="card border-primary mb-3" style="min-width:10;">
			  <div class="card-body" style="cursor: pointer;" onclick="window.location='{{url_for('edit',uid=one_note.uid)}}'">
				<p class="card-text" >{{decrypt(enc=one_note.body, __key=current_user.password).decode('utf8')|safe}}</p>
			  </div>
			</div>
		{% endfor %}
	{% else %}
		<p>No record found.</p>
		<p style="cursor: pointer;" onclick="window.location='{{url_for('create_notes')}}'">Create a new note</p>
	{% endif %}
</body>
</html>